@font-face {
    font-family: Plants;
    src: url('/assets/fonts/Plants-Regular.ttf');
}

:root {
    --background-color: #eceff4;
    --text-color: #2e3440;
    --button-bg: var(--background-color);
    --chat-bg: white;
    --border-color: var(--background-color);
    --user-input-box: #8ba8df;
    --krista-response-box: #d8dee9;
}

.dark-mode {
    --background-color: #2e3440;
    --text-color: #eceff4;
    --button-bg: var(--background-color);
    --chat-bg: black;
    --border-color: var(--background-color);
    --user-input-box: #8ba8df;
    --krista-response-box: #d8dee9;
}

body {
    font-family: Plants, Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#dark-mode-btn {
    border-radius: 5px;
    border-width: 3px;
    position: fixed;
    left: 100%;
    margin-top: 20px;
    margin-left: -80px;
    border-color: var(--border-color);
    background-color: var(--button-bg);
}

#chat-btn {
    border-radius: 5px;
    border-width: 3px;
    position: fixed;
    left: 1%;
    margin-top: 20px;
    border-color: var(--border-color);
    background-color: var(--button-bg);
}

#adj-to-replace {
    cursor: pointer;
}

.main-text {
    font-size: 70px;
    font-weight: 600;
    position: fixed;
    top: 50%;
    left: 50%;
    width: max-content;
    height: auto;
    transform: translate(-50%, -50%);
}

span {
    font-style: italic;
}

.loadest {
    align-self: center;
}