body {
    font-family: 'Arial Rounded MT', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eceff4;
}

#dark-mode-btn {
    border-radius: 5px;
    border-width: 3px;
    position: fixed;
    left: 100%;
    margin-top: 20px;
    margin-left: -80px;
    border-color: #eceff4;
}

#adj-to-replace {
    cursor: pointer;
}

.main-text {
    font-size: 60px;
    font-weight: 600;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translate(-50%,-50%);
}

span {
    font-style: italic;
}

.loadest {
    align-self: center;
}